.footer {
    background-color: hsla(0, 0%, 0%, 0.7);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -50px;
    padding: 0 60px;
}

.logo {
    height: 20px;
    width: 80px;
}

.text {
    color: white;
    font-size: 16px;
    font-weight: 900;
}
