.main {
    margin-left: 5vw;
    background-image: url("/images/FOND.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-left: 50px;
}
